.reservations .reservations-container {
    display: grid;
    max-width: 600px;
    margin: 32px 16px;
    background-color: white;
    border-radius: 16px;
}

@media (min-width: 600px) {
    .reservations .reservations-container {
        margin: 32px auto;
    }
}

.reservations .reservations-form {
    margin: 32px;
}

.reservations .reservations-form form {
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
}

.reservations .reservations-form label {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
}

.reservations h2 {
    margin-bottom: 8px;
}

.reservations .reservations-form .form-row {
    display: grid;
    align-items: center;
    gap: 8px;
}


@media (min-width: 600px) {
    .reservations .reservations-form .form-row {
        display: inline-flex;
        align-items: center;
    }
}

.step-number {
    display: inline-flex;
    width: 36px;
    height: 36px;
    color: white;
    background-color: #f4ce14;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
    border-radius: 18px;
    margin-right: 8px;
}

.reservations .reservations-form input,
.reservations .reservations-form select {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: large;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 2px 4px;
}

.reservations .reservations-list-header {
    margin: 32px 32px 8px 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
}

.reservations .reservations-list-header .toggleicon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.reservations .reservations-list {
    margin: 0 32px 32px 32px;
    display: grid;
}

.reservations .reservations-list-row.header {
    color: white;
    background-color: black;
}

.reservations .reservations-list-row.data:nth-child(odd) {
    background-color: #eee;
}

.reservations .reservations-list-row {
    display: grid;
    grid-template-columns: 5% 20% 15% 15% 1fr auto;
    gap: 8px;
    align-items: center;
}

.reservations .reservations-list-row.data:hover {
    background-color: #ccc;
}

.reservations .reservations-list-row div {
    margin: 2px 4px;
    white-space: nowrap;
}

.reservations .reservations-list-row div:last-child {
    margin: 2px 4px;
}


.reservations .emptyset {
    display: grid;
    background-color: #eee;
    text-align: center;
}

.reservations .emptyset span {
    margin: 16px;
}

.reservations input[type='submit'] {
    color: white;
    background-color: black;
    padding: 8px 32px;
    border: 0;
    font-weight: 600;
}

.reservations input[type='submit']:disabled {
    background-color: #ccc;
}

.reservations input[type='submit']:hover {
    color: #f4ce14;
}


.reservations .delete-icon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    cursor: pointer;
}

.reservations .delete-icon:hover {
    opacity: 1.0;
}