main {
  grid-area: "main";
  background-color: whitesmoke;
}

.buttonlink {
  padding: 8px 32px;
  color: white;
  background-color: black;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  font-size: large;
  text-decoration: none;
  display: block;
  text-align: center;
}

.buttonlink:hover {
  color: #f4ce14;
}

.actionlink {
  padding: 8px 32px;
  color: black;
  background-color: #f4ce14;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  font-size: large;
  text-decoration: none;
  display: block;
  text-align: center;
}

.actionlink:hover {
  color: white;
}


h1,
h2 {
  color: #f4ce14;
}

h1 {
  font-family: Georgia, serif;
  font-size: xxx-large;
  ;
}

h2 {
  font-size: x-large;
  text-transform: uppercase;
}

section .sectiontitle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "sectionname sectionaction";
  margin: 16px 32px;
}

section .sectiontitle .name {
  grid-area: sectionname;
  font-family: Georgia, serif;
  font-weight: 600;
  font-size: xx-large;
  color: #495e57;
}

section .sectiontitle .action {
  grid-area: sectionaction;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}